<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- Define the target -->
  <targets>
    <!-- File Target for log messages -->
    <target xsi:type="File" name="logfile" fileName="${basedir}/customlogs-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
  
  <!-- File Target for ASP.NET logs -->
    <target xsi:type="File" name="aspnetlogs" fileName="${basedir}/aspnetlogs-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
  
  </targets>

  <!-- Define rules to map loggers to targets -->
  <rules>
    <!-- Filter Microsoft logs as per appsettings.json -->
    <logger name="Microsoft.*" minlevel="Information" writeTo="aspnetlogs" final="true" />
    <logger name="System.*" minlevel="Information" writeTo="aspnetlogs" final="true" />

    <!-- Log everything else (your application's logs) -->
    <logger name="*" minlevel="Information" writeTo="logfile" />
  </rules>
</nlog>